{{#each ratings}}
  <a class="external-rating-link" href="{{this.url}}" target="_blank">
    <div
      class="{{this.source}}-rating"
      style="display: inline-flex; align-items: center; margin-right: 20px;"
    >
      <div class="logo" style="display: inline-flex;">
        <img src="{{this.logo}}" alt="logo" width="46" />
      </div>
      <div
        class="text"
        style="font-weight: 700; margin-left: 6px; display: inline-flex; flex-direction: column; align-items: flex-start;"
      >
        <div
          class="vote"
          style="display: flex; align-items: center; align-content: center; justify-content: center;"
        >
          {{this.rating}}
          <span style="font-weight: 400; font-size: 80%; opacity: 0.8;">
            {{this.symbol}}
          </span>
        </div>
        {{#ifEqual this.votes "N/A"}}

        {{else}}
          {{#ifEqual this.source "metascore"}}
            <div
              class="votes"
              style="display: flex; align-items: center; align-content: center; justify-content: center; background: linear-gradient(to top, transparent 0, transparent 25%,
                {{this.votes}}
                 25%,
                {{this.votes}}
                 75%, transparent 75%, transparent 100%); color:transparent;"
            >
              {{this.rating}}
            </div>
          {{else}}
            <div class="votes" style="font-weight: 400; opacity: 0.8;">
              {{this.votes}}
            </div>
          {{/ifEqual}}
        {{/ifEqual}}
      </div>
    </div>
  </a>
{{/each}}
